[submodule "modules/kai-llm"]
	path = modules/kai-llm
	url = https://github.com/whatphilipcodes/kai-llm
[submodule "modules/kai-tts"]
	path = modules/kai-tts
	url = https://github.com/whatphilipcodes/kai-tts
[submodule "modules/kai-avatar-animation"]
	path = modules/kai-avatar-animation
	url = https://github.com/etlaM21/kai-avatar-animation
[submodule "kai-temp-website"]
	path = modules/kai-temp-website
	url = https://github.com/etlaM21/kai-temp-website.git
[submodule "modules/kai-avatar-ue-5.6"]
	path = modules/kai-avatar-ue-5.6
	url = https://github.com/etlaM21/kai-avatar-ue-5.6
[submodule "modules/kai-shared"]
	path = modules/kai-shared
	url = https://github.com/whatphilipcodes/kai-shared
[submodule "modules/kai-client"]
	path = modules/kai-client
	url = https://github.com/whatphilipcodes/kai-client
