[submodule "modules/kai-llm"]
	path = modules/kai-llm
	url = https://github.com/whatphilipcodes/kai-llm
[submodule "modules/kai-tts"]
	path = modules/kai-tts
	url = https://github.com/whatphilipcodes/kai-tts
[submodule "modules/kimodo_playground"]
	path = modules/kimodo_playground
	url = https://github.com/etlam21/kimodo_playground
[submodule "modules/kai-core"]
	path = modules/kai-core
	url = https://github.com/whatphilipcodes/kai-core
